.page-title-header {
  padding: 30px 0;
  // margin-bottom: 20px;
  background-color: #777;
  &--header {
    margin: 0;
    color: #fff;
    font-size: 34px;
    letter-spacing: 1px;
    line-height: 42px;
    text-align: center;
    @media (min-width: 768px){
      text-align: left;
    }
  }
  &--search-results {
    background-color: #3bbb12;
  }
  &--home {
    background-color: #498FF0;
  }
  &--post-book {
    background-color: #41DA41;
  }
  &--post-blog {
    background-color: #41DA41;
  }
  &--post-news {
    background-color: #41DA41;
  }
  &--category-books {
    background-color: #498FF0;
  }
  &--category-blog {
    background-color: #498FF0;
  }
  &--category-news {
    background-color: #498FF0;
  }
  &--page-About {
    background-color: #e6b547;
  }
  &--page-Contact {
    background-color: #e6b547;
  }
  &--page-PrivacyPolicy {
    background-color: #828282;
  }
  &--page-TermsofService {
    background-color: #828282;
  }
}
