.page-title-header {
  padding: 30px 0;
  // margin-bottom: 20px;
  background-color: #777;
  &--header {
    margin: 0;
    color: #fff;
    font-size: 34px;
    letter-spacing: 1px;
    line-height: 42px;
    text-align: center;
    @media (min-width: 768px){
      text-align: left;
    }
  }
  &--search-results {
    // background-color: #C32424;
    background-color: #3bbb12;
  }
  &--home {
    // background-color: #C32424;
    background-color: #498FF0;
  }
  &--category-books {
    // background-color: #C32424;
    background-color: #498FF0;
  }
  &--category-blog {
    // background-color: #C32424;
    background-color: #498FF0;
  }
  &--category-news {
    // background-color: #C32424;
    background-color: #498FF0;
  }
  &--page-About {
    // background-color: #C32424;
    background-color: #e6b547;
  }
  &--page-Contact {
    // background-color: #C32424;
    background-color: #e6b547;
  }
  &--page-PrivacyPolicy {
    // background-color: #C32424;
    background-color: #828282;
  }
  &--page-TermsofService {
    // background-color: #C32424;
    background-color: #828282;
  }
}
