.footer-promos {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #3f73bb;
  &--wrapper {
    .display(flex);
    .flex-wrap(wrap);
    .align-content(center);
    .justify-content(space-between);
  }
  &--section {
    padding: 20px;
    //min-width: 300px;
    .flex-basis(32%);
    //.flex-grow(1);
    background-color: #e8f2ff;
    .border-radius(5px);
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }
  }
  &--about-social-wrapper {
    .display(flex);
    .flex-wrap(wrap);
    .align-content(center);
    .justify-content(space-between);
  }
  &--about-social {
    max-width: 70px;
    display: inline-block;

  }
  &--twitter-feed {

  }
  &--newsletter {
    ul {
      padding-left: 30px;
      li {
      }
    }
    form {
      margin-top: 15px;
    }
  }
}
