.header {
  height: 140px;
  background-color: #C4ECFF;
  border-bottom: 2px solid #A1BCD8;
  
  &--wrapper {
    padding: 20px 0;
    //border-bottom: 1px solid #333;
  }

  &--logo {
    float: left;
  }

  &--right-content {
    float: right;
  }

  .navbar-nav {
    @media (min-width: 768px){
      margin-top: 40px;
    }
    a {
      @media (min-width: 768px){
        margin-left: 40px;
        padding: 0;
        color: #3A3B98;
        letter-spacing: 2px;
        font-size: 18px;
        text-transform: capitalize;
        &:hover, &:active, &:focus {
          background-color: inherit;
          color: #333;
        }
      }
    }
  }

}
